<div class="navbar is-primary">
  <div class="navbar-menu is-invisible">
    <div class="navbar-item">
      <div class="button"></div>
    </div>
  </div>
</div>
<div class="columns is-centered is-overlay">
  <div class="column" style="max-width: min(1920px, 100vw)">
    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="">
          <span class="title">
            <span class="icon-text">
              <span class="icon">
                <ion-icon name="rainy"></ion-icon>
              </span>
              <span>
                WISdoM-OSS
              </span>
            </span>
          </span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <div class="button" (click)="hideSidebar = !hideSidebar">
              <span class="icon">
                <ion-icon name="menu"></ion-icon>
              </span>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-toggleable is-auto-hide">
            <div class="navbar-link">
              <span class="icon">
                <ion-icon name="language"></ion-icon>
              </span>
              <span>
            {{"lang" | translate}}
          </span>
            </div>
            <div class="navbar-dropdown">
              <div class="navbar-item">
                <a class="p-1" selectLang="de_DE">
                  <span class="icon-text">
                    <span class="icon">
                      <img
                        src="https://raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1e9-1f1ea.svg"/>
                    </span>
                    <span class="has-text-contrast has-text-weight-medium">
                      Deutsch
                    </span>
                  </span>
                </a>
              </div>
              <div class="navbar-item">
                <a class="p-1" selectLang="en_US">
                  <span class="icon-text">
                    <span class="icon">
                      <img
                        src="https://raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f1fa-1f1f2.svg"/>
                    </span>
                    <span class="has-text-contrast has-text-weight-medium">
                      English
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="navbar-item">
            <app-user-popout></app-user-popout>
          </div>
        </div>
      </div>
    </nav>
    <div class="columns mt-0 is-mobile" style="height: 100vh">
      <aside
        *ngIf="!hideSidebar"
        class="column is-2 box p-5 menu"
        style="margin-top: -0.75rem"
      >
        <app-side-bar></app-side-bar>
      </aside>
      <main
        class="column p-0"
        style="overflow-y: auto"
      >
        <app-error>
          <app-loader>
            <div class="p-3" style="padding-bottom: 100px">
              <div
                style="margin-top: 0.75rem; padding-right: 0.8rem; padding-left: 0.8rem">
                <router-outlet></router-outlet>
              </div>
            </div>
          </app-loader>
        </app-error>
      </main>
    </div>
  </div>
</div>
