nav.navbar.is-primary
  .navbar-brand
    a.navbar-item
      span.icon-text.title
        span.icon
          ion-icon(name="rainy")
        span WISdoM-OSS
  .navbar-menu
    .navbar-start
      .navbar-item
        .button
          span.icon
            ion-icon(name="menu")
    .navbar-end
      .navbar-item.has-dropdown.is-toggleable
        .navbar-link
          span.icon
            ion-icon(name="language")
          span {{"lang" | translate}}
        .navbar-dropdown
          .navbar-item
            a.p-1(selectLang="de_DE")
              span.icon-text
                span.icon
                  img(src="https://twemoji.maxcdn.com/2/72x72/1f1e9-1f1ea.png")
                span.has-text-contrast.has-text-weight-medium Deutsch
          .navbar-item
            a.p-1(selectLang="en_US")
              span.icon-text
                span.icon
                  img(src="https://twemoji.maxcdn.com/2/72x72/1f1fa-1f1f2.png")
                span.has-text-contrast.has-text-weight-medium English
      .navbar-item
        .buttons
          .button
            span.icon
              ion-icon(name="person-circle")
.columns(style="height: 100vh")
  aside.column.is-2.box.p-5
    p.menu-label ein Menü
    ul.menu-list
      li
        a Dashboard
      li
        a ein Link
  main.column
    div(style="margin-top: 0.75rem")
      router-outlet
    .content
      p Hier packen wir was cooles rein
  aside.column.is-2.box.p-5
    p.menu-label {{"core.frame.account" | translate}}
    ul.menu-list
      li
        a((click)="logout()")
          span.icon-text
            span.icon
              ion-icon(name="log-out")
            span {{"core.frame.logout" | translate}}
    p.menu-label {{"core.frame.administration" | translate}}
    ul.menu-list
      li
        a
          span.icon-text
            span.icon
              ion-icon(name="person")
            span {{"core.frame.userManagement" | translate}}
      li
        a
          span.icon-text
            span.icon
              ion-icon(name="key")
            span {{"core.frame.permissions" | translate}}
      li
        a
          span.icon-text
            span.icon
              ion-icon(name="id-card")
            span {{"core.frame.roles" | translate}}
