<div class="hero is-warning is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container has-text-centered">
      <p class="title" style="font-size: 8rem">{{code}}</p>
      <p *ngIf="message" class="subtitle">{{message}}</p>
      <a routerLink="" class="button is-dark">
        <span>
          <span class="icon">
            <ion-icon name="arrow-undo"></ion-icon>
          </span>
          <span>Back to the Start.</span>
        </span>
      </a>
    </div>
  </div>
</div>
