<section class="hero is-primary is-primary-dark is-fullheight">
  <div class="hero-body is-justify-content-center">
    <div class="has-text-centered">
      <p class="title" style="font-size: 7rem">
        WISdoM-OSS
      </p>
      <p class="icon-text is-size-3">
        <span class="icon"><ion-icon name="sparkles"></ion-icon></span>
        <span>{{"core.callback.willRedirect" | translate}}</span>
        <span class="icon"><ion-icon name="color-wand"></ion-icon></span>
      </p>
      <hr>
      <p>{{"core.callback.notWorking" | translate}}</p>
      <a href="./" class="button is-fullwidth">
        {{"core.callback.backToHome" | translate}}
      </a>
    </div>
  </div>
</section>
