<ng-container *ngFor="let label of sideBar">
  <div class="menu-label">
    <span class="icon-text is-flex-wrap-nowrap">
      <span *ngIf="label[1]" class="icon">
        <ion-icon [attr.name]=label[1]></ion-icon>
      </span>
      <span>{{label[0] | translate}}</span>
    </span>
  </div>

  <ul class="menu-list">
    <li *ngFor="let entry of label[2]">
      <a *ngIf="entry[2]" [routerLink]="entry[2]">
        <span class="icon-text is-flex-wrap-nowrap">
          <span *ngIf="entry[1]" class="icon">
            <ion-icon [attr.name]=entry[1]></ion-icon>
          </span>
          <span>{{entry[0] | translate}}</span>
        </span>
      </a>
      <a *ngIf="!entry[2]">
        <span class="icon-text is-flex-wrap-nowrap">
          <span *ngIf="entry[1]" class="icon">
            <ion-icon [attr.name]=entry[1]></ion-icon>
          </span>
          <span>{{entry[0] | translate}}</span>
        </span>
      </a>
      <ul *ngIf="entry[3]">

      </ul>
    </li>
  </ul>
</ng-container>

