@charset "utf-8";

// Bulma Functions
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

// this space here allows to define custom colors later on
$primary: #0088aa;
$modal-background-background-color-dark: rgba(0, 0, 0, 75%);
$modal-card-body-background-color-dark: #242424;

// Color override by Workspace
@import "../../../wisdom.styles";

// Rest of Bulma
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-calendar/src/sass/index";
@import "../../../node_modules/bulma-prefers-dark/bulma-prefers-dark";
@import "../../../node_modules/bulma-switch/src/sass/index";
@import "../../../node_modules/@creativebulma/bulma-tooltip/src/sass/index";

@media (prefers-color-scheme: light) {
  .is-hidden-light {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  .is-hidden-dark {
    display: none;
  }
}

.has-text-contrast {
  color: lighten(black, 20);
}
@media (prefers-color-scheme: dark) {
  .has-text-contrast {
    color: darken(white, 20);
  }
}

.datetimepicker-wrapper {
  position: relative;
}
.datetimepicker {
  z-index: 6;
  width: 320px;
}

@media (prefers-color-scheme: dark) {
  @import "../../../node_modules/bulma-prefers-dark/sass/elements/box";
  @import "../../../node_modules/bulma-prefers-dark/sass/elements/form";

  .datetimepicker-dummy .datetimepicker-dummy-wrapper {
    background-color: $input-background-color-dark;
    border-color: $input-border-color-dark;
    color: $input-color-dark;

    &:hover {
      color: $input-hover-color-dark;
      border-color: $input-hover-border-color-dark;
    }

    &:focus {
      color: $input-focus-color-dark;
      border-color: $input-focus-border-color;
    }

    &:disabled {
      color: $input-disabled-color-dark;
      background-color: $input-disabled-background-color-dark;
    }

    .datetimepicker-dummy-input {
      color: $input-color-dark;
    }
  }

  .datetimepicker {
    background-color: $input-background-color-dark;
    box-shadow: $box-shadow-dark;

    .datetimepicker-container:after {
      border-bottom-color: $input-background-color-dark !important;
    }

    .datetimepicker-header .datetimepicker-selection-start .datetimepicker-selection-month {
      color: $input-color-dark;
    }

    .datepicker-body {
      .datepicker-dates .datepicker-days .datepicker-date .date-item,
      .datepicker-years .datepicker-year,
      .datepicker-months .datepicker-month {
        color: $input-color-dark;
        border-color: $input-border-color-dark;

        &:hover {
          color: $input-color-dark;
          background-color: $input-background-color-dark;
        }
      }

      .datepicker-dates .datepicker-days .datepicker-date:not(.is-current-month) {
        background-color: bulmaLighten($input-background-color-dark, 5);
      }
    }
  }
}

// disable hover text on ion icons
ion-icon {
  pointer-events: none;
}


@each $name, $pair in $colors {
  $color: nth($pair, 1);
  .has-hover-text-#{$name}:hover {
    color: $color !important;
  }
}

@each $name, $shade in $shades {
  .has-hover-text-#{$name}:hover {
    color: $shade !important;
  }
}

// Re-exports bulma colors as css variables to be accessible via JS
:root {
  --bulma-primary-primary: #{$primary};
  --bulma-primary-link: #{$link};
  --bulma-primary-info: #{$info};
  --bulma-primary-success: #{$success};
  --bulma-primary-warning: #{$warning};
  --bulma-primary-danger: #{$danger};
  --bulma-primary-dark: #{$dark};
  --bulma-primary-text: #{$text};
}
