@charset "utf-8";

// Bulma Functions
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

// this space here allows to define custom colors later on

// Rest of Bulma
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-prefers-dark/bulma-prefers-dark";
@import "../../../node_modules/bulma-switch/src/sass/index";
@import "../../../node_modules/@creativebulma/bulma-tooltip/src/sass/index";

@media (prefers-color-scheme: light) {
  .is-hidden-light {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  .is-hidden-dark {
    display: none;
  }
}

.has-text-contrast {
  color: lighten(black, 20);
}
@media (prefers-color-scheme: dark) {
  .has-text-contrast {
    color: darken(white, 20);
  }
}

// disable hover text on ion icons
ion-icon {
  pointer-events: none;
}


@each $name, $pair in $colors {
  $color: nth($pair, 1);
  .has-hover-text-#{$name}:hover {
    color: $color !important;
  }
}

@each $name, $shade in $shades {
  .has-hover-text-#{$name}:hover {
    color: $shade !important;
  }
}
